/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: whitesmoke;
}
.header_container{
    background-color: white;
    max-width: 405px;
    margin: 10px auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.you i{
    font-size: 40px;
    line-height: 50px;
    color: rgb(77, 77, 238);
    cursor: pointer;
    margin-left: 100px;
}

.display{
    display: none;
}
.logout-btn{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color:rgb(77, 77, 238) ;
    transition: .3s ease;
}
.logout-btn:focus{
    background-color: white;
    border: 1px solid rgb(77, 77, 238);
    color: rgb(77, 77, 238);
}
.loader{
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: black;
  animation: an1 1s ease infinite;
  margin-left: 60px;
}
@keyframes an1{
  0% {
      transform: rotate(0turn);
  }
  100% {
      transform: rotate(1turn);
  }
}
.wrapper{
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  border-radius: 2px;
}
.task-input{
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.task-input input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #999;
  transition: .1s ease;
}
.task-input input:focus,
.task-input input.active{
  border: 2px solid rgb(77, 77, 238);
}
.task-input input::placeholder{
  color: #bfbfbf;
}
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span{
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  color: rgb(77, 77, 238);
}
.controls .clear-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background-color: rgb(77, 77, 238);
}
.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active{
  transform: scale(0.93);
}
.task-box{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.task-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar{
  width: 5px;
}
.task-box::-webkit-scrollbar-track{
  background: #cec9c9;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb{
  background: rgb(126, 122, 122);
  border-radius: 25px;
}
.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
    border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .task label{
  display: flex;
  align-items: flex-start;
}
.task label input{
  margin-top: 7px;
  accent-color: black;
}
.task label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked{
  text-decoration: line-through;
}
.task-box .settings{
  position: relative;
}
.settings :where(i, li){
  cursor: pointer;
}
.settings .task-menu{
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0px 0px 5px black;
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: #ccc7c7;
}
.settings li i{
  padding-right: 8px;
}

@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .task-input{
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
  }
  .task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input{
    margin-top: 4px;
  }
}